
    <form action='/game' method='post'>
      <% @players.times do |i| %>
      <div class="playerboard">
        <div class="player">
          <input type="text"  name="name<%= i + 1 %>" placeholder="name player <%= i + 1 %>">
          <input type="text" name="email<%= i + 1 %>" placeholder="email player <%= i + 1 %>">
        </div>
      </div>
     <% end %>
      <div class="playerboard">
        <div class="player">
          <input type="hidden" name="players" value="<%= @players %>">
          <input type="number" name='length' placeholder='Track length'>
          <input type="submit" value="Let's start!">
        </div>
      </div>
    </form>